{% extends 'base.html' %}

{% block header %}
    {% block title %}Property {{ property.street }}{% endblock %}
{% endblock %}

{% block content %}
    <div class='book'>
        <h1>Property Details for:<div class="propInfoTop"> {{ property.street }}, {{ property.city }}, {{ property.state }}</div></h1>
        <p></p>
        <img src="/static/assets/{{property.prop_type}}.jpg" style="width: 500px;height: 300px;">
        <p>{{ property.description }}</p>
        <br>
        

        <div style="display: flex; gap: 10px; justify-content: center;">
            <div>
                <h3>Property Information:</h3>
                <p>Type: {{ property.prop_type  }}</p>

                {% if property.prop_type == 'Apartment' %}
                    <p>Apartment</p>
                {% elif property.prop_type == 'CommercialBuilding' %}
                    <p>Commercial Building</p>
                {% elif property.prop_type == 'Land' %}
                    <p>Land</p>
                {% elif property.prop_type == 'VacationHome' %}
                    <p>Vacation Home</p>
                {% endif %}

                <p>Price: ${{property.price | currency}}</p>
                <p>Number of Rooms: {{ property.num_rooms  }}</p>
                <p>Sq ft: {{  property.sq_footage  }}</p>
            </div>
            <div>
                <h3> Neighborhood Information:</h3>
                <p>Neighborhood: {{  property.neighborhood_name }}</p>
                <p>Nearby School Count: {{ property.nearby_school_count }}</p>
                <p>Crime rate: {{ property.crime_rate }}%</p>
            </div>
        </div>

        <br>
        
        {% if not g.user['agency'] %}
            <h2>Book Now</h2>
            {% if property.availability %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-container">
                            {% for category, message in messages %}
                                <div class="flash {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div id='bookingForm' style='display: none;'>
                    <form method="POST">
                        <label for='start_date'>Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required>
                        <label for='start_date'>End Date:</label>
                        <input type="date" id="end_date" name="end_date" required>
                        <br><br>
                        {% if credit_cards %}
                            <input type="hidden" name="newcard" value="no">
                            <label for='payment'>Select Payment:</label>
                            <select name='payment' id='payment'>
                                {% for credit_card in credit_cards %}
                                    <option value='{{ credit_card[0] }},{{ credit_card[2] }}'>Credit Card (**{{ credit_card[2] | credit_card }})</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="hidden" name="newcard" value="yes">
                            <h3>Card Details</h3>
                            <label for='cardnum'>Card Number:</label>
                            <input type='number' name='cardnum' id='cardnum' required>
                            <br><br>
                            <label for='expdate'>Expiration Date:</label>
                            <input type='date' name='expdate' id='expdate' required>
                            <h3>Billing Address</h3>
                            <input type='text' id='street' name='street' placeholder="Street">
                            <input type='text' id='city' name='city' placeholder="City">
                            <br><br>
                            <input type='text' id='state' name='state' size='3' placeholder="State">
                            <input type='text' id='zip_code' name='zip_code' size='6' placeholder="Zip Code">
                        {% endif %}
                        <br><br>
                        <button type="submit" name="action" value="book">Confirm Booking</button>
                        {% if g.user['activated'] %}
                        <br><br>
                        <button type="submit" name="action" value="redeem">Use Rewards Points</button>
                        {% endif %}
                        <br><br>
                    </form>
                </div>
                {% if g.user %}
                    <button id='book' onclick='toggleBookingForm()'>Book</button>
                {% else %}
                    <a href="{{ url_for('login') }}"><button>Book</button></a>
                {% endif %}
                <br><br>
            {% else %}
                <button disabled>Unavailable</button>
            {% endif %}
        {% endif %}
        <div class="backButton"><p><button onclick="history.back()">↩</button></div></p>
    </div>
    <script>
        function toggleBookingForm() {
            const bookButton = document.getElementById('book');
            const bookingForm = document.getElementById('bookingForm');
            
            if (bookButton.click && bookingForm.style.display == 'none') {
                bookingForm.style.display = 'block';
                bookButton.textContent = 'Cancel Booking';
                // *.required = true;
            } else {
                bookingForm.style.display = 'none';
                bookButton.textContent = 'Book';
                //*.required = false;
                
                // Optional: Clear the input when hidden
                // *.value = ''; 
            }
        }
    </script>
{% endblock %}