{% extends 'base.html' %}

{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
    <div class='mainSearch'>
        <h1>Property Search</h1>
        <form action='/search' method='GET'>
            <input type='text' id='street' name='street' placeholder="Street">
            <input type='text' id='city' name='city' placeholder="City">
            <input type='text' id='state' name='state' size='3' placeholder="State">
            <input type='text' id='zip_code' name='zip_code' size='6' placeholder="Zip Code">
            <br><br>
            <select name='prop_type' id='prop_type'>
                <option selected value=''>Property Type</option>
                <option value='House'>House</option>
                <option value='Apartment'>Apartment</option>
                <option value='CommercialBuilding'>Commercial Building</option>
                <option value='VacationHome'>Vacation Home</option>
                <option value='Land'>Land</option>
            </select>
            <input type='number' id='num_rooms' style='width: 8.5ch;' name='num_rooms' min='0' placeholder="Rooms">
            <input type='number' id='price_min' style='width: 10.5ch; margin-right: 0;' name='price_min' min='0' placeholder="Min Price">
            -
            <input type='number' id='price_max' style='width: 10.5ch; margin-left: 0;' name='price_max' min='0' placeholder="Max Price">
            <input type='date' id='desired_date' name='desired_date'>
            <br><br>
            <button type='submit'>Search Properties</button>
        </form>
        <br>
    </div>
    <hr>
    <section class='featured'>
        <h1 style='margin-bottom: 0;'>Take a look at some of our properties!</h1>
        <div class="cards">
            {% for property in properties %}
                <a class="card" href="{{ url_for('book_property', property_id=property[0]) }}" aria-label="View details for {{ property[1] }}, {{ property[2] }}, {{ property[3] }}">
                    <div class="topHalf">
                        <img src="/static/assets/{{property[5]}}.jpg" alt="piccyture" style="width: 100%; height: fit-content;">
                    </div>
                    <div class="btmHalf">
                        <div>
                            <h3>{{ property[1] }}</h3>
                            <h4> {{ property[2] }}, {{ property[3] }}</h4>
                        </div>
                        <p>{{ property[4] }}</p>

                        <div>
                            <span>{{property[7]}} Rooms</span><br>
                            <span>${{property[6] | currency}}</span>
                        </div>
                        <br>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    <hr>
    <div class="rewardsButton">
        <a href="{{ url_for('account') }}">
            <h1> While you're here, join our Rewards Program! </h1>
        </a>
    </div>
    <br><br><br><br>
{% endblock %}