{% extends 'base.html' %}

{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
    <div class='mainSearch'>
        <h1>Property Search</h1>
        <form action='/search' method='GET'>
            <label for='street'>Street:</label>
            <input type='text' id='street' name='street'>
            <label for='city'>City:</label>
            <input type='text' id='city' name='city'>
            <br><br>
            <label for='state'>State:</label>
            <input type='text' id='state' name='state' size='5'>
            <label for='zip_code'>Zip Code:</label>
            <input type='text' id='zip_code' name='zip_code' size='10'>
            <br><br>
            <button type='submit'>Search Properties</button>
        </form>
        <br><br>
    </div>
    <hr>
    <section class='featured'>
        <h1>Take a look at some of our properties!</h1>
        <div class="results">
            <table>
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                        <tr>
                            {% for column in property[1:] %}
                                <td>{{ column }}</td>
                            {% endfor %}
                            <td>
                                <a href="{{ url_for('book_property', property_id=property[0]) }}">
                                    <button type="button">See details</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <br><br>
    <hr>
    <div>
        <h1> Join our Rewards Program! </h1>
        <p><a href="{{ url_for('account') }}">
            <button type="button"> Join! </button>
        </a></p>
    </div>
    <br>
    <img href="{{ url_for('static', filename='images/house.jpg') }}" alt="hous">
    <div>
        <img src="/static/images/house.jpg" alt="house image">
    </div>
{% endblock %}