{% extends 'base.html' %}

{% block header %}
{% block title %}test_prop{% endblock %}
{% endblock %}

{% block content %}
    <div>
        <h2>Available Properties</h2>

        {% if properties %}
            <table>
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                        <tr>
                            {% for column in property %}
                                <td>{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No property data found or connection failed.</p>
        {% endif %}
    </div>
{% endblock %}