{% extends 'base.html' %}

{% block header %}
    {% block title %}Your Account{% endblock %}
{% endblock %}

{% block content %}
    <div class='account'>
        <center>
            <h1>Your Account</h1>
            {% for message in get_flashed_messages() %}
                <div class='flash'>{{ message }}</div>
            {% endfor %}
            <form method='post'>
                <!-- TODO- add if statement to check if renter or agent -->
                {% if g.user[1] == 'dev@test.com' %}
                    <h2>Agent Info</h2>
                    <label for='agency'>Agency:</label>
                    <input name='agency' id='agency'>
                    <br><br>
                    <label for='title'>Job Title:</label>
                    <input name='title' id='title'>
                    <br><br>
                    <label for='phone'>Phone Number:</label>
                    <input type='tel' name='phone' id='phone'>
                <!--  else  -->
                {% endif %}
                    <h2>Preferences</h2>
                    <label for='movein'>Move-In Date:</label>
                    <input type='date' name='movein' id='movein'>
                    <br><br>
                    <label for='preferloc'>Preferred Location:</label>
                    <input name='preferloc' id='preferloc'>
                    <br><br>
                    <label for='budget'>Budget:</label>
                    <input type='number' name='budget' id='budget'>
                    <h2>Payment Method</h2>
                    <input type='button' value="Add Payment Method">
                    <h3>Card Details</h3>
                    <label for='cardnum'>Card Number:</label>
                    <input type='number' name='cardnum' id='cardnum' required>
                    <br><br>
                    <label for='expdate'>Expiration Date:</label>
                    <input type='month' name='expdate' id='expdate' required>
                    <h3>Billing Address</h3>
                    <label for='street'>Street:</label>
                    <input name='street' id='street' required>
                    <label for='city'>City:</label>
                    <input name='city' id='city' required>
                    <br><br>
                    <label for='state'>State:</label>
                    <input name='state' id='state' size='5' required>
                    <label for='zipcode'>Zip Code:</label>
                    <input name='zipcode' id='zipcode' size='10' required>
                <!--  endif  -->
                <br><br>
                <input type='submit' value='Save'>
                <br>
            </form>
        </center>
    </div>
{% endblock %}