{% extends 'base.html' %}

{% block header %}
    {% block title %}Your Account{% endblock %}
{% endblock %}

{% block content %}
    <div class='account'>
        <h1>Your Account</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method='post'>
            {% if g.user['agency'] %}
                <h2>Agent Info</h2>
                <label for='agency'>Agency:</label>
                <input name='agency' id='agency'>
                <br><br>
                <label for='title'>Job Title:</label>
                <input name='title' id='title'>
                <br><br>
                <label for='phone'>Phone Number:</label>
                <input type='tel' name='phone' id='phone'>
            {% else %}
                <h2>Preferences</h2>
                <label for='movein'>Move-In Date:</label>
                <input type='date' name='movein' id='movein'>
                <br><br>
                <label for='preferloc'>Preferred Location:</label>
                <input name='preferloc' id='preferloc'>
                <br><br>
                <label for='budget'>Budget:</label>
                <input type='number' name='budget' id='budget'>
                <h2>Payment Method</h2>
                <input type='button' id='paymeth' onclick='togglePayMethForm()' value='Add Payment Method'>
                <div id='paymethForm' style='display: none;'>
                    <h3>Card Details</h3>
                    <label for='cardnum'>Card Number:</label>
                    <input type='number' name='cardnum' id='cardnum'>
                    <br><br>
                    <label for='expdate'>Expiration Date:</label>
                    <input type='month' name='expdate' id='expdate'>
                    <h3>Billing Address</h3>
                    <label for='street'>Street:</label>
                    <input name='street' id='street'>
                    <label for='city'>City:</label>
                    <input name='city' id='city'>
                    <br><br>
                    <label for='state'>State:</label>
                    <input name='state' id='state' size='5'>
                    <label for='zipcode'>Zip Code:</label>
                    <input name='zipcode' id='zipcode' size='10'>
                </div>
            {%  endif  %}
            <br>
            <input type='submit' value='Save' style="width: fit-content;">
        </form>
        <br><br>
    </div>
    <script>
        function togglePayMethForm() {
            const bookButton = document.getElementById('paymeth');
            const bookingForm = document.getElementById('paymethForm');
            
            if (bookButton.click && bookingForm.style.display == 'none') {
                bookingForm.style.display = 'block';
                bookButton.value = 'Cancel';
                // *.required = true;
            } else {
                bookingForm.style.display = 'none';
                bookButton.value = 'Add Payment Method';
                //*.required = false;
                
                // Optional: Clear the input when hidden
                // *.value = ''; 
            }
        }
    </script>
{% endblock %}