{% extends 'base.html' %}

{% block header %}
    {% block title %}Manage Bookings{% endblock %}
{% endblock %}

{% block content %}
    <div class='manage-books'>
        <h1>Manage Bookings</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% if bookings %}
        <div class="cards">
            {% for book in bookings %}
                <div class="card">
                    <div>
                        {% if g.user['agency'] %}
                            <h3>Property ID: {{ book[2] }}</h3>
                            <br>
                            <p>Renter Email: {{ book[6] }}</p>
                            <p>Name: {{ book[7] }} </p>
                            <br>
                            <p>Start Date: {{ book[3] }}</p>
                            <p>End Date: {{ book[4] }}</p>
                        {% else %}
                            <h2>You booked<h2>
                            <br>
                            <h3>{{ book[6] }}<h3>
                            <h3>{{ book[7] }}, {{ book[8] }} </h3>
                            <br>
                            <p>Start Date: {{ book[3] }}</p>
                            <p>End Date: {{ book[4] }}</p>
                            <p>
                        {% endif %}
                    </div>
                    <br><br>
                    <a class="button" href="{{ url_for('book_property', property_id=book[2]) }}" aria-label="View Property {{ book[2] }}">
                    <button type="button">View Property</button></a>
                    <div style="display: flex; justify-content: center;">
                        <button type="button" class="text-button" onclick="document.getElementById('editBooking{{ book[0] }}').showModal()">Edit</button>
                        <dialog id='editBooking{{ book[0] }}'>
                            <form method="POST" action="{{ url_for('manage_bookings') }}" >
                                <header><h2>Edit Rental Date</h2></header>
                                <br>
                                <input type="hidden" name="action" value="edit">
                                <input type="hidden" name="booking_id" value="{{ book[0] }}">
                                <input type="hidden" name="property_id" value="{{ book[2] }}">
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <label for="start_date" style="font-size: 12px;">Start Date:</label>
                                        <input type="date" id ="start_date" name="new_start_date">
                                    <label for="end_date" style="font-size: 12px; margin-left: 15px;">End Date:</label>
                                        <input type="date" id ="end_date"  name="new_end_date">
                                </div>
                                <br>
                                <button type="submit">Confirm</button>
                                <button type='button' class="text-button" onclick="document.getElementById('editBooking{{ book[0] }}').close()">Close</button>
                            </form>
                            <br>
                        </dialog>
                        <button type="button" class="text-button cancel-button" onclick="document.getElementById('cancelBooking{{ book[0] }}').showModal()">Cancel</button>
                    </div>
                    <dialog id ='cancelBooking{{ book[0] }}'>
                        <form method="POST" action="{{ url_for('manage_bookings') }}" >
                            <br>
                            <p>Are you sure you want to cancel this booking?</p>
                            {% if g.user['agency'] %}
                                <p>Refunds go back to renter's chosen payment method.</p>
                            {% else %}
                                <p>Refunds go back to card ending in **{{ book[9] | credit_card }}</p>
                            {% endif %}
                            <input type="hidden" name="action" value="cancel">
                            <input type="hidden" name="booking_id" value="{{ book[0] }}">
                            <input type="hidden" name="property_id" value="{{ book[2] }}">
                            <br>
                            <button type="submit">Yes, Cancel</button>
                            <button type='button' class="text-button" onclick="document.getElementById('cancelBooking{{ book[0] }}').close()">No, Go Back</button>
                        </form>
                        <br>
                    </dialog>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
        <br><br>
    </div>
{% endblock %}